
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

h1 {
    font-family: 'Montserrat';
    color: #fff;
    font-size: 60px;
}
header{
}
.main_container {
    margin-top: 5%;
    padding-left: 20%;
    position: relative;
}

#card_box {
    background-color: #fff;
    min-width: 400px;
    margin: 40px;
    font-family: 'Montserrat';
    color:  #222;
    position: relative;
    float: left;
    padding:40px;
    text-align:center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .9)
}

#card_box h1{
    font-family: 'Montserrat';
    color:  #222;
    font-size: 30px;
    font-weight: 300;
}

.inputs {
    width: 200px;
    height: 50px;
    font-family: 'Montserrat';
    color:  #222;
    border: 2px solid #01579b;
    border-radius: 4px;
}
.btn {
    width: 205px;
    height: 50px;
    font-family: 'Montserrat';
    color:  #fff;
    background-color: #1976d2;
    border: 2px solid #01579b;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}
button,textarea,input:focus {
    outline: none;
    resize: none;
}

input[type="submit"]:hover{
    background-color: #fff;
    color: #01579b;
}
button:hover {
    background-color: #fff;
    color: #01579b;
}

.message_green {
    font-family: 'Montserrat';
    font-size: 40px;
    color: #43a047
}

.message_red {
    font-family: 'Montserrat';
    font-size: 40px;
    color: #e53935
}
a {
    text-decoration: none;
    color:blue;
    font-family: 'Montserrat';
}
a:visited {
    color: blue;
    text-decoration: none;
    font-family: 'Montserrat';
}

.hash_in{
    border: 2px solid #01579b;
    border-radius: 4px;
    margin-top: 15px;
}