<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" >
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
    <title>Password Kitchen</title>
</head>
<body
{% if status=="default" %} style="background-color: #1976d2;" {% elif status=="checked" %} style="background-color: #43a047" {% elif status=="failed" %} style="background-color: #e53935"
{% endif %}>
<header>
 <h1 align="center">Password Kitchen</h1>
    </header>
{% if show_alert %}
<script>
    alert('Invalid Salt.')
</script>
{% endif %}
<div class="main_container" >

    <div id="card_box" >
       <h1>Hash</h1>
        <form action="/hash" method="post" >
        <input type="text" title="password" name="password" class="inputs" {% if password %} value={{password}} {% else %} placeholder="password" {% endif %}>
        <br>
            <button class="btn">Hash It!</button>
        <br>
        <textarea rows="10" cols="22" name="hash" {% if show_hash %} placeholder={{show_hash}} {% else %} placeholder="hash" {% endif %}  disabled  class="hash_in"></textarea>
        </form>
        {% if show_hash %}
        <a href="{{url_for('return_home')}}">Clear Fields</a>
        {% endif %}
    </div>
    <div id="card_box" >
    <h1>Verify</h1>
        <form action="/dehash" method="post">
         <input type="text" title="password" name="password_verif" class="inputs" {% if password_verif %} value={{password_verif}} {% else %} placeholder="password" {% endif %} >
        <br>
        <textarea rows="10" cols="22" name="hash_verif" placeholder="hash"   class="hash_in">{% if hash %}{{hash}}{% endif %}</textarea>
        <br>
         <button class="btn">Verify It!</button>
        </form>
        {% if status=="checked" %}
        <p class="message_green">It's a match!</p>
        <a href="{{url_for('return_home')}}">Clear Fields</a>
        {% elif status=="failed" %}
        <p class="message_red">Doesn't match :(</p>
        <a href="{{url_for('return_home')}}">Clear Fields</a>
        {% endif %}
        {% if show_alert %}
        <a href="{{url_for('return_home')}}">Clear Fields</a>
        {% endif %}
    </div>
</div>
</body>
</html>